<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="frases">
            <h2><span jhiTranslate="repo6App.frases.detail.title">Frases</span> {{frases.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="repo6App.frases.descricao">Descricao</span></dt>
                <dd>
                    <span>{{frases.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="repo6App.frases.verdadeira">Verdadeira</span></dt>
                <dd>
                    <span jhiTranslate="{{'repo6App.TipoVF.' + frases.verdadeira}}">{{frases.verdadeira}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/frases', frases.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
